<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD NEW ITEMS</title>
</head>
<body>
    <h2>add items</h2>
    <form action="{% url 'add_items' %}" method='post'>
        {% csrf_token %}
        <label for="name">name :</label>
        <input type="text" id="name" name="name">
        <br>
        <br>
        <label for="roll">roll :</label>
        <input type="number" id="roll" name="roll">
        <br>
        <br>
        <label for="age">age :</label>
        <input type="number" id="age" name="age">
        <br><br>
        <label for="dept">dept  : </label>
        <input type="text" id="dept" name="dept">
        <br><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>